.column {
	flex: 1 0 auto;
}

.pinned-info {
  position: relative;
	opacity: 0.85;
  font-size: 15px;
  padding: 10px 20px;
  a {
    color: #3fadfd;
  }
}

.pinned-info__icon {
  .fa {
    position: absolute;
    bottom: 10px;
    right: 10px;
    cursor: pointer;
  }
}

div {
  &.status__info {
    & > a {
      &.status__display-name {
        display: inline-block;
      }
    }
  }
}

.gifv {
  & > video {
    width: 100%;
    max-height: 100%;
  }
}

.columns-area--mobile {
  .getting-started__trends {
    display: block;
    .trends__item {
      display: flex;
    }
  }
}

.status__quote__wrapper {
  margin-top:16px;
  border-left: 5px solid #dbdbdb80;
  background: #dbdbdb40;
 
  .status {
      padding-left:40px;

      .status__action-bar {
        display: none;
      }
      .status__avatar {
	      transform: scale(0.5);
	      transform-origin: 0% 0%;
      }
  }
}

